@import './variables.scss';

// GLOBAL STYLES
body {
    font-family: $mainFont;
    margin: 0;
    margin-top: 70px;
    background-color: $background;
    padding: 10px;
}
p {
	margin: 0;
}

// GENERAL FORM STYLES
.hiddenLabel {
    visibility: hidden;
    position: absolute;
    left: -1000px;
}
[type="text"], [type="password"], textarea {
    width: calc(100% - 60px);
    border: 1px solid $outlines;
    padding: 10px;
    height: 50px;
    overflow-x: hidden;
}
[type="submit"] {
    color: $lightText;
    background-color: $mainColor;
    background-image: none;
    border: 1px solid $mainDark;
    padding: 0 20px;
    height: 35px;
}