// COLOUR VARIABLES
$lightText: #FFFFFF;
$mainColor: #7619A9;
$mainDark: rgb(75, 11, 109);
$background: #EAEAEA;
$outlines: #CCCCCC;

// FONT STACK VARIABLES
$mainFont: 'Montserrat', sans-serif;

// GLOBAL STYLES
body {
    font-family: $mainFont;
    margin: 0;
    background-color: $background;
    padding: 10px;
}
p {
	margin: 0;
}