@import './variables.scss';

// GLOBAL STYLES
body {
	font-size: 62.5%;
	font-family: $mainFont;
	margin: 0;
	background-color: $background;
	padding: 10px;
	padding-top: 70px;
}
p, label, input, textarea {
	margin: 0;
	font-size: 1rem;
}
.moduleTitle {
	text-transform: uppercase;
	font-weight: 300;
	color: $mainDark;
	margin: 0;
	font-size: 2rem;
}
.moduleTitle span {
	font-weight: 700;
}

// GENERAL FORM STYLES
.generalForm {
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $lightText;
	border: 1px solid $outlines;
	border-left: 3px solid $mainColor;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
	padding: 30px;
}
.hiddenLabel {
	visibility: hidden;
	position: absolute;
	left: -1000px;
}
[type="text"], [type="password"], textarea {
	width: calc(100% - 60px);
	border: 1px solid $outlines;
	padding: 10px;
	height: 50px;
	overflow-x: hidden;
	font-size: 1rem;	
}
[type="submit"]  {
	color: $lightText;
	background-color: $mainColor;
	background-image: none;
	border: 1px solid $mainDark;
	padding: 0 20px;
	height: 35px;
	font-size: 1rem;	
}