@import './variables.scss';

.loginForm {
    margin-top: 100px;
    padding-top: 120px;
    position: relative;
}
.loginAvatar {
    width: 200px;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    top: -100px;
}
.loginLabel {
    width: 100%;
    padding-left: 8px;
    margin-bottom: 5px;
    font-weight: 600;
    color: $mainColor;
}
.loginInput[type="text"], .loginInput[type="password"] {
    width: 100%;
}
.loginButton {
    margin-top: 25px;
    margin-bottom: 30px;
}
#loginUserName {
    margin-bottom: 20px;
}